.buy-btn{
  display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}
.ok-btn{
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}
.my-icon{
  font-size: 25px;
  color: #47b2e4;
}
.my-box{
    padding: 10px;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
    background: #fff;
    height: auto;
    border-top: 4px solid #fff;
    border-radius: 5px;
}
#navbar-1 {
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  background: #ffc107 !important;
}

.show#navbar-1 {
  padding-right: 0px;
}
.show .listMenu > a {
  padding-left: 20px;
}
.ms-auto.text-center {
  justify-content: center;
}